.form-cita {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  flex: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo {
  margin-top: -20px;
  margin-bottom: 15px;
  font-size: 20px;
}

label {
  font-size: 14px;
  color: #444;
  margin-top: 12px;
  display: block;
}

select,
input,
textarea {
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  font-size: 15px;
}

select {
  width: 100%;
}

textarea {
  width: 98%;
}

input {
  width: 96%;
}

.fila {
  display: flex;
  gap: 15px;
}

.campo {
  flex: 0.5;
}

textarea {
  resize: none;
  height: 80px;
}

.btn-crear {
  background: #1d4ed8;
  color: white;
  padding: 14px;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
