.tarjeta-persona {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-width: 300px;
  height: fit-content;
}

.tarjeta-persona[data-type="medico"] {
  border-top-color: #28a745;
}

.titulo {
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
  padding-top: 15px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e9ecef;
  color: #007bff;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  border: 3px solid #007bff;
}

.tarjeta-persona[data-type="medico"] .avatar {
  color: #28a745;
  border-color: #28a745;
}

.nombre {
  font-size: 1.2rem;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 5px;
}

.sub-info,
.sub-info-medico {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 15px;
}

.datos {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.datos p {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  color: #495057;
}

.datos strong {
  color: #343a40;
  margin-left: 5px;
  font-weight: 500;
}

.icono {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  filter: brightness(0) saturate(100%);
}
