.consulta-page {
  padding: 1rem 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-consulta {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
}

.subtitulo-consul {
  color: rgb(107, 114, 128);
  margin-left: 50px;
  margin-top: -15px;
  font-size: 0.95rem;
}

.header-fecha-motivo {
  margin-top: 25px;
  margin-left: 160px;
  background-color: white;
  padding: 0px 15px 0px 15px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Layout */
.consulta-layout {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 330px 1fr;
  gap: 1.5rem;
}

/* Panel izquierdo */
.left-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Tarjeta persona */
.tarjeta-persona {
  height: 295px;
}

/* Acciones rápidas */
.acciones-box-consulta {
  flex: 1;
  background: white;
  padding: 1.5rem;
  margin-top: -5px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.acciones-box-consulta h3 {
  grid-column: span 2;
  margin-top: -5px;
  margin-bottom: 0.8rem;
}

/* Panel derecho */
.right-panel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Nota Médica */
.nota-medica-box {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.nota-medica-box h3 {
  margin-top: -5px;
}

.nota-medica-box textarea {
  width: 97%;
  height: 120px;
  border-radius: 8px;
  padding: 0.7rem;
  border: 1px solid #dcdcdc;
  resize: none;
}

/* Servicios */

.autocomplete-box {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 4px;
  max-height: 150px;
  overflow-y: auto;
}

.autocomplete-item {
  padding: 8px 10px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background: #f0f0f0;
}

.servicio-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 12px;
  margin-bottom: 8px;

  background: #f5f5f5;
  border-radius: 8px;

  font-size: 0.95rem;
}

.servicio-item p {
  margin: 0;
  flex: 1;
}

.servicio-item span {
  margin-right: 15px;
  font-weight: 600;
  white-space: nowrap;
}

.remove-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #c62828;
}

.remove-btn:hover {
  color: #ff0000;
}

.servicios-box {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.servicios-box h3 {
  margin-top: -5px;
}

.buscador {
  width: 97%;
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  margin-bottom: 1rem;
}

.servicios-lista {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

/* Total */
.total-box {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  border-top: 1px solid #e5e7eb;
}

/* Botón Finalizar */
.btn-finalizar {
  width: 100%;
  background: #2563eb;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-finalizar:hover {
  background: #1e4ed8;
}
