.crear-cita-page {
  padding: 1rem 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 70vh;
}

.header-crearcita {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: -30px;
}

.back-button {
  background: white;
  border: 0px;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.back-button img {
  width: 18px;
  height: 18px;
}

.back-button:hover {
  background: #f0f0f0;
  transform: scale(1.03);
}

.subtitulo {
  color: #6b7280;
  margin-left: 50px;
}

.contenido {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}
