.Titulo-tabla-recep {
  padding: 24px;
  margin-top: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 120vh;
}

.recep-container .tabla-scroll {
  height: 300px;
}

.Titulo-tabla-recep h3 {
  margin-top: -3px;
  margin-bottom: 0px;
}

.recep-container {
  padding: 1rem 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 70vh;
}

.top-grid {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.main-grid {
  display: flex;
  gap: 2rem;
}

.metric-card img {
  filter: brightness(0) invert(1);
  width: 32px;
  height: 32px;
}

.quick-action img {
  filter: brightness(0);
  width: 26px;
  height: 26px;
}
