.Titulo-tabla-Med {
  padding: 24px;
  margin-top: 0px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 120vh;
}

.med-container .header-date {
  margin-left: 870px;
}

.Titulo-tabla-Med h3 {
  margin-top: -10px;
}

.med-container .tabla-scroll {
  height: 480px;
}

.main-content-area {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.side-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
  min-width: 300px;
}
.acciones-box-med h3 {
  margin-top: -5px;
}
.acciones-box-med {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: 300px;
}

.med-container {
  padding: 1rem 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 70vh;
}

.top-grid {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.main-grid {
  display: flex;
  gap: 2rem;
}

.metric-card img {
  filter: brightness(0) invert(1);
  width: 32px;
  height: 32px;
}

.quick-action img {
  filter: brightness(0);
  width: 26px;
  height: 26px;
}
