/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-date {
  margin-left: auto;
  background-color: white;
  padding: 0px 15px 0px 15px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.subtext {
  color: #888;
  font-size: 0.9rem;
  margin-top: -5px;
}

/* METRIC CARDS */
.metric-card {
  flex: 1;
  padding: 1rem;
  border-radius: 12px;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.metric-clickable {
  cursor: pointer;
  transition: 0.2s ease;
}

.metric-clickable:hover {
  transform: scale(1.02);
  opacity: 0.95;
}

.metric-card.green {
  background: #1fa750;
}
.metric-card.blue {
  background: #235df7;
}
.metric-card.purple {
  background: #9741f1;
}

.metric-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.metric-card h2 {
  margin-top: 1rem;
  font-size: 2rem;
}

/* TABLE */

.selected-row {
  background-color: #dbeafe !important;
}

.appt-table {
  border-radius: 12px;
  padding: 1px;
  font-size: 1rem;
  color: #6b7280;
}

.appointments-table tr {
  cursor: pointer;
  transition: 0.2s ease;
}

.appointments-table tr:hover {
  background: #f5f5f5;
}

.selected-row {
  background-color: #dbeafe !important;
}

.appt-table tbody tr:hover {
  background-color: #f9f9f9;
}

.appt-table tbody tr:last-child td {
  border-bottom: none;
}

.tabla-scroll {
  overflow-y: scroll;
  height: auto;
}

.tabla-scroll::-webkit-scrollbar {
  width: 6px;
}

.tabla-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.tabla-scroll::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.appt-table table {
  width: 100%;
  border-collapse: collapse;
}

.appt-table th {
  text-align: left;
  font-size: 0.9rem;
  color: #555;
  background: #f1f3f5;
  padding: 12px 14px;
}

.appt-table td {
  padding: 0.7rem 0;
  border-bottom: 1px solid #eee;
}

.estado {
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.75rem;
  color: white;
}

.estado.programada {
  background: #d6e7fe;
  color: #1e47d3;
}
.estado.checkin {
  background: #cbf9e1;
  color: #086d4d;
}
.estado.consulta {
  background: #fef8bb;
  color: #97570b;
}
.estado.finalizada {
  background: #d7fce3;
  color: #157535;
}
.estado.pagada {
  background: #c5faef;
  color: #116b63;
}
.estado.cancelada {
  background: #f1f2f5;
  color: #424b58;
}
.estado.noasistio {
  background: #fedede;
  color: #b01a1a;
}

/* QUICK ACTIONS */
.acciones-box {
  flex: 1;
  background: white;
  padding: 1.5rem;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.acciones-box h3 {
  margin-top: -5px;
  grid-column: span 2;
}

.quick-action:not(.qa-small) {
  grid-column: span 2;
}

.quick-action.qa-small {
  grid-column: span 1;
}

.quick-action {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 12px;
  background: whitesmoke;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: none;
  width: 100%;
}

.quick-action:hover {
  background: #edf0f3;
  transform: scale(1.02);
  opacity: 0.95;
}

.qa-title {
  font-weight: 600;
  margin-bottom: 0;
}

.qa-desc {
  margin-top: 0;
  font-size: 0.8rem;
  color: #777;
}

.qa-icon {
  margin-left: 30px;
  width: 28px;
  height: 28px;
}

.quick-action.disabled {
  opacity: 0.4;
  pointer-events: none;
  transform: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 12px;
  background: whitesmoke;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: none;
  width: 100%;
}

.qa-small {
  transform-origin: left center;
  margin: -10px 0;
}

.qa-small .qa-icon {
  width: 22px;
  height: 22px;
  margin-left: 15px;
  margin-right: -15px;
}

.qa-small .qa-title {
  font-size: 0.85rem;
}

.qa-small .qa-desc {
  font-size: 0.7rem;
}

/* INPUT GLOBAL */
.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #dcdfe4;
  border-radius: 10px;
  font-size: 0.95rem;
  background: #fafafb;
  transition: 0.2s;
}

.input:focus {
  outline: none;
  border-color: #235df7;
  background: white;
}

/* LABEL GLOBAL */
.label {
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
}

/* CARD GLOBAL */
.card {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* BUTTON GLOBAL */
.btn-primary {
  background: #235df7;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 14px;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-primary:hover {
  background: #1b4bd4;
}

.icono {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  color: #007bff;
}
